pyrofork==2.3.69
py-tgcalls==2.2.12
ntgcalls
tgcrypto
yt-dlp @ https://github.com/yt-dlp/yt-dlp/archive/refs/heads/master.tar.gz
youtube-search-python
httpx<0.28
motor
dnspython
python-dotenv
ffmpeg-python
aiofiles
aiohttp
psutil
